.testimonialContainer {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    scroll-snap-align: start;
    margin-bottom: 80px;

}

.titleText {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #304659;
    margin-bottom: 10px;
}

.squareContainer{
    display: flex;
    flex-direction: row;
    height: 80%;
    padding: 20px;
    gap: 40px;
}

.testimonialImage1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 37%;
    height: 400px;
    color: white;
    background-image: url("../../../assets/LandingPage/Testimonial1.png");
    background-size: cover;

}

.testimonialImage2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 20%;
    height: 400px;
    color: white;
    background-image: url("../../../assets/LandingPage/Testimonial2.png");
    background-size: cover;

}

.testimonialImage3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 32%;
    height: 400px;
    color: white;
    background-image: url("../../../assets/LandingPage/Testimonial3.png");
    background-size: cover;

}

.bluredBox1 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    border-radius: 20px;
    width: 300px;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    backdrop-filter: blur(80px);
}

.bluredBox2 {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    bottom: -50px;
    width: 230px;
    height: 160px;
    background: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    backdrop-filter: blur(80px);
}

.bluredBox3 {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    bottom: -50px;
    border-radius: 20px;
    width: 220px;
    height: 140px;
    background: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    backdrop-filter: blur(80px);
}

.textStyle{
    display: flex;
    flex-direction: row;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 520;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #304659;
    bottom: 10px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}

.imageQuote1 {
    position: absolute;
    bottom: 95px;
    height: 60px;
    width: 60px;
}

.imageQuote2 {
    position: absolute;
    bottom: 130px;
    height: 60px;
    width: 60px;
}

.imageQuote3 {
    position: absolute;
    bottom: 110px;
    height: 60px;
    width: 60px;
}