.container {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    /*padding-left: 80px;*/
    /*padding-top: 80px;*/
    padding: 80px;
    align-items: center;
}

.titleText {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    color: #304659;
    margin-bottom: 10px;
}

.subtitleText {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #696F8C;
}

.cityCardsOuterContainer {
    align-self: center;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.cityCardContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 200px;
    border-radius: 20px;
    /*background-color: #3A6AD5;*/
    margin-bottom: 10px;
}

.cityInfoTextContainer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    padding-bottom: 2%;
    flex: 1;
    height: 30%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cityName {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.cityNumberOfProperties {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}