
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
}

.title {
    margin-top: 3%;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
    color: #304659;
}

.infoContainer {
    margin-top: 8%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.dataCardContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
}

.dataCardTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    color: #304659;
    margin-bottom: 29px;
}

.dataCardText {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #696F8C;
    text-align: justify;
}

.cardImage {
    height: 30%;
    width: auto;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
}